<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-select@3.0.0"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-select@3.0.0/dist/vue-select.css">
        <link rel="stylesheet" href="kick.css?ver=20200112">
        <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
        <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="app">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Matches</p>
                        <p class="title">{{ overall.Matches }}</p>
                    </div>
                    </div>
                    <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Goals</p>
                        <p class="title">{{ overall.Goals }}</p>
                    </div>
                </div>
            </nav>
            <div class="columns is-multiline">
		<!-- total goals -->
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info">Scorers:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in ratings_goals">
                                    <td>{{ item.Total }}</td><td>{{ players[item.Id] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
		<!-- avg goals -->
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info">avg. Goals:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Player</th>
                                    <th>Games</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="value in ratings_goals_avg">
                                    <td>{{ Number.parseFloat(value[1]).toFixed(2) }}</td><td>{{ players[value[0]] }}</td>
                                    <td>{{ value[2] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
		<!-- total win rate -->
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info">Win rate:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>%</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                    <th>T.Played</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in ratings_winrate.Overall">
                                    <td>{{ players[item.Id] }}</td><td>{{ item.WinRate.toFixed(2) }}</td>
                                    <td>{{ item.Wins }}</td><td>{{ item.Losses }}</td>
                                    <td>{{ item.Wins + item.Losses }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info">Forwards win rate:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>%</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                    <th>T.Played</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in ratings_winrate.Forwards">
                                    <td>{{ players[item.Id] }}</td><td>{{ item.WinRate.toFixed(2) }}</td>
                                    <td>{{ item.Wins }}</td><td>{{ item.Losses }}</td>
                                    <td>{{ item.Wins + item.Losses }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info">Defenders win rate:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>%</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                    <th>T.Played</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in ratings_winrate.Defenders">
                                    <td>{{ players[item.Id] }}</td><td>{{ item.WinRate.toFixed(2) }}</td>
                                    <td>{{ item.Wins }}</td><td>{{ item.Losses }}</td>
                                    <td>{{ item.Wins + item.Losses }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- goals forwards -->
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info">scorers. Forwards:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in ratings_goals_forwards">
                                    <td>{{ item.Total }}</td><td>{{ players[item.Id] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- avg goals forwards-->
                <div class="column">
                    <h1 class="subtitle is-3 has-text-info">avg. Goals Forwards:</h1>
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Player</th>
                                    <th>Games</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="value in ratings_goals_avg_forwards">
                                    <td>{{ Number.parseFloat(value[1]).toFixed(2) }}</td><td>{{ players[value[0]] }}</td>
                                    <td>{{ value[2] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- goals defenders -->
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info">scorers. Defenders:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in ratings_goals_defenders">
                                    <td>{{ item.Total }}</td><td>{{ players[item.Id] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- avg goals defenders-->
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info">avg. Goals Defenders:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Player</th>
                                    <th>Games</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="value in ratings_goals_avg_defenders">
                                    <td>{{ Number.parseFloat(value[1]).toFixed(2) }}</td><td>{{ players[value[0]] }}</td>
                                    <td>{{ value[2] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- autogoals -->
                <div class="column">
                    <div class="table-container">
                        <h1 class="subtitle is-3 has-text-info has-background-warning">Autogoals:</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Count</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in ratings_autogoals">
                                    <td>{{ item.Total }}</td><td>{{ players[item.Id] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <script src="board.js?ver=20200112v2"></script>
    </body>
</html>
