<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-select@3.0.0"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-select@3.0.0/dist/vue-select.css">
        <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
        <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <link rel="stylesheet" href="kick.css?ver=20200112">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container" id="app">
            <template v-if="matchid != 0">
                <div class="columns is-mobile is-centered">
                    <div class="column is-full">
                        <loading :active.sync="ApiCallInProgress"
                        :can-cancel="false">
                        </loading>
                        <button @click="endMatch()" class="button is-fullwidth">Finish Match</button>
                    </div>
                </div>
                <div class="c_align columns is-mobile is-centered">
                    <div class="scoreboard has-text-right has-background-danger column">{{ score.red }}</div>
                    <div class="scoreboard has-text-centered column is-narrow">:</div>
                    <div class="scoreboard has-text-left has-background-info column">{{ score.blue}}</div>
                </div>
                <!-- Red defender -->
                <div class="columns is-mobile">
                    <div class="column is-three-quarters">
                        <button @click="Score('reddef')" class="button is-fullwidth has-background-danger">
                            <img class="icon_b" src="/static/goal_icon.svg" />
                            {{ reddef.label }}
                        </button>
                    </div>
                    <div class="column is-one-quarters">
                        <button @click="Auto('reddef')" class="button is-fullwidth has-background-danger">AUTO</button>
                    </div>
                </div>
                <!-- Red forward -->
                <div class="columns is-mobile">
                    <div class="column is-three-quarters">
                        <button @click="Score('redfor')" class="button is-fullwidth has-background-danger">
                            <img class="icon_b" src="/static/forward_icon.svg" />
                            {{ redfor.label }}
                        </button>
                    </div>
                    <div class="column is-one-quarters">
                        <button @click="Auto('redfor')" class="button is-fullwidth has-background-danger">AUTO</button>
                    </div>
                </div>
                <!-- Blue defender -->
                <div class="columns is-mobile">
                    <div class="column is-three-quarters">
                        <button @click="Score('bluedef')" class="button is-fullwidth has-background-info">
                            <img class="icon_b" src="/static/goal_icon.svg" />
                            {{ bluedef.label }}
                        </button>
                    </div>
                    <div class="column is-one-quarters">
                        <button @click="Auto('bluedef')" class="button is-fullwidth has-background-info">AUTO</button>
                    </div>
                </div>
                <!-- Blue forward -->
                <div class="columns is-mobile">
                    <div class="column is-three-quarters">
                        <button @click="Score('bluefor')" class="button is-fullwidth has-background-info">
                            <img class="icon_b" src="/static/forward_icon.svg" />
                            {{ bluefor.label }}
                        </button>
                    </div>
                    <div class="column is-one-quarters">
                        <button @click="Auto('bluefor')" class="button is-fullwidth has-background-info">AUTO</button>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">{{ Message }}</div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <button @click="RevertGoal()" class="button is-fullwidth has-background-info">REVERT</button>
                    </div>
                </div>

            </template>
            <template v-else>
                <div class="columns is-mobile">
                    <div class="column is-full">
                        <button :disabled="matchReady()" @click="startMatch()" class="button is-fullwidth">Start Match</button>
                    </div>
                </div>
                <div class="columns is-mobile has-background-danger">
                    <div class="column is-full">
                        <v-select :options="selectList" v-model="reddef" placeholder="Defender" />
                    </div>
                </div>
                <div class="columns is-mobile has-background-danger">
                    <div class="column is-full">
                        <v-select :options="selectList" v-model="redfor" placeholder="Forward" />
                    </div>
                </div>
                <div class="columns is-mobile has-background-info">
                    <div class="column">
                        <v-select :options="selectList" v-model="bluedef" placeholder="Defender" />
                    </div>
                </div>
                <div class="columns is-mobile has-background-info">
                    <div class="column">
                        <v-select :options="selectList" v-model="bluefor" placeholder="Forward" />
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <p class="topgap">{{ Message }}</p>
                    </div>
                </div>
            </template>

            <!-- Last matches -->
            <div>
                <div class="section has-text-centered">LAST MATCHES:</div>
                <div v-for="item in this.last_matches">
                    <div class="c_align columns is-mobile is-centered">
                        <div class="scoreboard has-text-right red column">{{ item.red.score }}</div>
                        <div class="scoreboard has-text-centered column is-narrow">:</div>
                        <div class="scoreboard has-text-left blue column">{{ item.blue.score }}</div>
                    </div>
                    <div class="c_align columns is-mobile is-centered">
                        <div class="scoreboard has-text-right column">{{ players[item.red.Defender] }}</div>
                        <div class="scoreboard has-text-centered column is-narrow"><img class="icon" src="/static/goal_icon.svg" /></div>
                        <div class="scoreboard has-text-left column">{{ players[item.blue.Defender] }}</div>
                    </div>
                    <div class="c_align columns is-mobile is-centered">
                        <div class="scoreboard has-text-right column">{{ players[item.red.Forward] }}</div>
                        <div class="scoreboard has-text-centered column is-narrow"><img class="icon" src="/static/forward_icon.svg" /></div>
                        <div class="scoreboard has-text-left column">{{ players[item.blue.Forward] }}</div>
                    </div>
                    <div class="c_align">-----------</div>
                </div>
            </div>

        </div>
        <script src="index.js?ver=20200112"></script>

        <!-- credits -->
        <div id="Footer">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </body>
</html>
