<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script src="https://unpkg.com/vue-select@3.0.0"></script>
        <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
        <link rel="stylesheet" href="kick.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container" id="app">
            <template v-if="matchid != 0">
                <div class="one-col">
                    <dev class="scoreboard">{{ score.red }}</dev>
                    <dev class="scoreboard">:</dev>
                    <dev class="scoreboard">{{ score.blue}}</dev>
                </div>
                <div class="two-col">
                        <div class="col-left red">
                            <button @click="score('reddef')" class="large-button">{{ reddef }}</button>
                        </div>
                        <div class="col-right blue">
                            <button @click="score('bluedef')" class="large-button">{{ bluedef }}<button>
                        </div>
                    </div>
                    <div class="two-col">
                        <div class="col-left red">
                            <button @click="score('redfor')" class="large-button">{{ redfor }}</button>
                        </div>
                        <div class="col-right blue">
                            <button @click="score('bluefor')" class="large-button">{{ bluefor }}</button>
                        </div>
                </div>
                <div class="one-col">
                        <button @click="finishMatch()" class="large-button">Finish Match</button>
                </div>

            </template>
            <template v-else>
                <div class="one-col">
                    <button :disabled="matchReady()" @click="startMatch()" class="large-button">Start Match</button>
                </div>
                <div class="two-col">
                    <div class="col-left red">
                        <v-select :options="selectList" v-model="reddef" placeholder="Defender" />
                    </div>
                    <div class="col-right blue">
                        <v-select :options="selectList" v-model="bluedef" placeholder="Defender" />
                    </div>
                </div>
                <div class="two-col">
                    <div class="col-left red">
                        <v-select :options="selectList" v-model="redfor" placeholder="Forward" />
                    </div>
                    <div class="col-right blue">
                        <v-select :options="selectList" v-model="bluefor" placeholder="Forward" />
                    </div>
                </div>
            </template>
        </div>
        <script src="index.js"></script>
    </body>
</html>