.red {
    background-color: rgb(255, 122, 122);
}

.blue {
    background-color: rgb(133, 133, 248)
}

.container {
    width: 100%;
    height: 100%;
}

.one-col {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    margin: 0.5em;
}

.two-col {
    width: 100%;
    height: 100%;
    display: block;
    padding: 1.3em 0.1em;
}

.col-left {
    display: inline-block;
    width: 45%;
    float: left;
}

.col-right {
    display: inline-block;
    width: 45%;
    float: right;
}

.large-button {
    width: 90%;
    padding: 1em;
}

.large-button-f {
    width: 100%;
    padding: 1em;
}

.topgap {
    margin-top: 1em;
}

.scoreboard {
    display: inline-block;
    padding: 0.5em 2em;
    font-size: 1em;
}

.icon {
    height: 20px;
}

.results_l {
    width: 40%;
    margin: 0;
    padding: 0;
    text-align: right;
}
.results_r {
    width: 40%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.results_c {
    width: 5%;
    margin: 0;
    padding: 3px;
}

.c_align {
    align-content: center;
}

#Footer {
    position:fixed;
    bottom:0;
  }

#scorers {
    background-color: cornflowerblue;
}

.goals_num {
    display: inline-block;
    margin: 3px 3px 10px;
    background-color: rgb(150, 228, 195);
    width: 40px;
}

.stats_player {
    display: inline-block;
}